<html>
  <head></head>
  <body width="100%" height="100%" topmargin="50px" leftmargin="50px">
    <font face="sans-serif" size="+3">
      <h3>Contactame</h3>
      <hr width="30%" align="left" noshade />
    </font>
    <br />
    <br />
    <font face="sans-serif">
      <form action="mailto:sebastianvalarezomariscal2004@gmail.com" method="post" enctype=”text/plain”>
        <table border="0" cellpadding="25" align="center" bgcolor="#0468BF">
          <tr>
            <td>
              <table border="0" cellpadding="15">
                <tr>
                  <th>
                    <label for="">Nombres:</label>
                  </th>
                  <td>
                    <input
                      type="text"
                      name="nombre"
                      placeholder="Primer Nombre"
                    />
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <input
                      type="text"
                      name="apellido"
                      placeholder="Apellidos"
                    />
                  </td>
                </tr>
                <tr>
                  <th>
                    <label for="">Correo:</label>
                  </th>
                  <td>
                    <input type="email" name="email" placeholder="Correo" />
                  </td>
                </tr>
                <tr>
                  <th>
                    <label for="">Mensaje</label>
                  </th>
                </tr>
                <tr>
                  <td colspan="2">
                    <textarea name="mensaje" cols="40" rows="20"></textarea>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button type="submit">Enviar</button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>
    </font>
  </body>
</html>
