<html>
  <head></head>
  <body bgcolor="#f2f2f2" topmargin="0" leftmargin="0">
    <table border="0" align="center" height="100%" width="100%">
      <tr>
        <th>
          <img src="../assets/favicon.png" width="70px" /> <br />
          <font face="Arial" size="+2" color="#0d0d0d">
            Sebastián Developer
          </font>
        </th>
        <td>
          <a href="">
            <img src="../assets/button_sobre-mi.png" />
          </a>
        </td>
        <td>
          <a href="">
            <img src="../assets/button_servicios.png" alt="" />
          </a>
        </td>
        <td>
          <a href="">
            <img src="../assets/button_portafolio.png" alt="" />
          </a>
        </td>
        <td>
          <a href="">
            <img src="../assets/button_curriculum.png" />
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
